name: pull-request
on: [pull_request]
jobs:
  eslint:
    name: runner / eslint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Node.js for use with actions
        uses: actions/setup-node@v3
        with:
          node-version: '16.x'
      - run: npm install
      - name: Run ESLint
        uses: icrawl/action-eslint@v1